footer {
    min-height: 400px !important;
    padding: 50px 30px 20px !important;
    background: #ea6153 !important;
}


footer .rows {
    margin-right: -15px;
    margin-left: -15px;
}

.col1{
    float: left;
    width: 8.333333333333% !important;
}
.col2{
    float: left;
    width: 16.66666666666667% !important;
}
.col3{
    float: left;
    width: 25% !important;
}
.col4 {
    float: left;
    width:33.3333333333333% !important;
}
.col5 {
    float: left;
    width:41.66666666666667% !important;
}
.col6 {
    float: left;
    width: 50% !important;
}
.col7 {
    float: left;
    width: 58.33333333333333% !important;
}
.col8 {
    float: left;
    width:66.6666666666667% !important;
}
.col9 {
    float: left;
    width:75% !important;
}
.col10 {
    float: left;
    width: 83.33333333333333% !important;
}
.col11 {
    float: left;
    width: 91.66666666666667% !important;
}
.col12 {
    float: left;
    width: 100% !important;
}
fieldset {
    margin: auto 15px!important;
}
footer ul {
    list-style-type: none;
}
footer ul li {
    display: inline-block;
    float: left;
    margin-left: 5px;
}
footer img {
    position: absolute;
    margin-top: 180px;
}
.copy {
    padding: 0 !important;
}